* {
  margin: 0;
  padding: 0;
  bottom: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  user-select: none;
}
body {
  padding: 60px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
footer {
  display: flex;
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 50px;
  place-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  background-color: white;
  z-index: 2;
}
footer {
  top: auto;
  bottom: 0;
  border-top: 1px solid;
  border-bottom: none;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  font-weight: 600;
}
.item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 90dvw;
  border: 1px solid;
  padding: 20px 10px 20px 10px;
  margin: 5px 0 5px;
}
.item > input {
  padding: 5px 0 5px 5px;
  width: 35px;
}
.item > p {
  position: absolute;
  right: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.item > h3 {
  padding-left: 10px;
}
button {
  padding: 5px;
  background-color: white;
  border: 1px solid;
}
h2 {
  width: 95%;
  text-align: left;
  font-size: large;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  margin-top: 20px;
}
h3 {
  font-weight: 500;
}
.menu {
  position: fixed;
  background: white;
  width: 100%;
  left: 0;
  top: -100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
  transition: top 0.3s;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid;
}
.menu > p {
  width: 50%;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(219, 219, 219);
  padding: 10px;
}
